*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# logs
pip-log.txt
*.log

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm and pyenv files
.idea
.python-version

# Development database
*.sqlite3
/whoosh_index
/data
Vagrantfile
*.bin
.vagrant/

static_output

local_config*.ini*
dbsetup.sh
